/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  font-family: sans-serif;
}

/* Navbar */
.nav {
  display: flex;
  color: white;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.9);
}
header {
  position: fixed;
  width: 100%;
  z-index: 100000;
  overflow: hidden;
}
.header.sticky {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
}
.nav__links {
  display: flex;
  list-style: none;
}
.nav__item {
  /* margin-left: 2rem; */
  margin-right: 2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.2rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.container {
  background-image: url('../images/bg3.jpg');
  height: 750px;
  opacity: 0.9;
  /* create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-sub {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 60%;
  margin-left: 20%;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.container-sub h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px white;
  letter-spacing: 1px;
}

.container-sub h1 {
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px white;
  letter-spacing: 1px;
}

.container-sub p {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}

.social-links a {
  padding: 10px;
  font-size: 30px;
  color: lightgrey;
}

.about-me {
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  display: flex;
  justify-content: space-evenly;
}

.about-me-me {
  width: 30%;
  color: white;
  line-height: 25px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skillset {
  line-height: 25px;
  color: white;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

.skillset h2 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}

/* .skills {
  display: flex;
  /* flex-direction: column; */

.skills li {
  display: block;
  width: 30%;
  float: left;
}

.project {
  background-image: url('../images/bg2.jpg');
  height: 850px;
  opacity: 0.7;

  /* create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-pr {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-pr-pr {
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  color: white;
  text-align: center;
  width: 30%;
  height: 22rem;
}

.project-pr-pr a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 5px;
}

.project-pr-pr a:hover {
  background-color: rgb(41, 41, 41);
}

/* A nice animation to name */
span {
  opacity: 0;
  transition: all 0.4s ease;
}
span.fade {
  opacity: 1;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .container-sub {
    margin-top: auto;
    width: 80%;
    margin-left: 10%;
  }
  .profile-pic {
    width: 50%;
  }
  .about-me {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
  }
  .about-me-me {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 80%;
  }
  .skillset {
    margin: 0;
    padding: 0;
  }
  .project {
    height: auto;
  }
  .project-pr {
    flex-direction: column;
    align-items: center;
  }
  .project-pr-pr {
    width: 80%;
  }
}
